@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
:root {
    --cor0: #8E56A6;
    --cor1: #16c4a4;
    --cor2: #4465A6;
    --cor3: #E6F2F8;
    --cor4: #FFDC98;
    --cor5: #3C549A;
    --cor6: #273A72;
    --cor7: #D74681;
    --cor8: #30BAE7;
    --font-regular: 'Titillium Web', 'Arial';
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-regular);
}
/*cabeçalho*/
.header {
    background-color: var(--cor0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    height: 8vh;
}
.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}
.menu li a:hover  {
    margin: 0px;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #7f2aa3;
}
.menu li a {
    flex-flow: row nowrap;
    color: white;
    font-size: 14px;
    margin: 10px;
}

/*bloco 1 */

.section-1 {
    display: flex;
    min-height: 92vh;
    color: white;
    background: var(--cor0);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.section-1 h2 {
    display: flex;
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
    

}

.section-1 a {
    color: white;
    font-size: 14px;
    font-weight: 600;    
    border-radius: 3px;
    padding: 15px 50px;
    max-width: 150px;
    background-color: rgb(253, 121, 81);
    box-shadow: 0 4px 0 0 rgb(230, 84, 59);
}
/*Bloco 2*/
/*fundo*/
.section-2 {
    background-color: var(--cor1);
    color: white;
    height: 100vh;
    margin: auto;    
}
/* Texto em cima*/
.section-title {
    padding: 150px 0px 100px 0px;
    text-align: center;
    
}
/* Contender serviços*/
.services {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: auto;
    padding: 0px 150px;











.section-3 {
    background-color: var(--cor3);
}

.section-4 {
    background-color: white;
}

.section-5 {
    background-color: var(--cor4);
}

.section-6 {
    background-color: var(--cor7);
}

.section-7 {
    background-color: var(--cor5);
}