@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
:root {
    --cor0: #8E56A6;
    --cor1: #16c4a4;
    --cor2: #4465A6;
    --cor3: #E6F2F8;
    --cor4: #FFDC98;
    --cor5: #3C549A;
    --cor6: #273A72;
    --cor7: #D74681;
    --cor8: #30BAE7;
    --font-regular: 'Titillium Web', 'Arial';
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-regular);
}
/*cabeçalho*/
.header {
    background-color: var(--cor0);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    height: 8vh;
    
    
}
.logo {
    max-width: 120px;
}
.menu {
    display: flex;
    
}

.menu li {
    margin-left: 10px;
}
.menu li a:hover  {
    margin: 0px;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #7f2aa3;
}
.menu li a {
    flex-flow: row nowrap;
    color: white;
    font-size: 14px;
    margin: 10px;
}

/*bloco 1 */

.section-1 {
    display: flex;
    min-height: 92vh;
    color: white;
    background: var(--cor0);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.section-1 h2 {
    display: flex;
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
    

}

.section-1 a {
    color: white;
    font-size: 14px;
    font-weight: 600;    
    border-radius: 3px;
    padding: 15px 50px;
    max-width: 150px;
    background-color: rgb(253, 121, 81);
    box-shadow: 0 4px 0 0 rgb(230, 84, 59);
}
/*Bloco 2*/
/*fundo*/
.section-2 {
    background-color: var(--cor1);
    color: white;
    height: 130vh;
    width: 100%;
     
}
/* Texto em cima*/
.section-title {
    padding: 100px 0px 50px 0px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
    
    
}
.section-title h3 {
    padding: 20px 0px 10px 0px;
    background-color: var(--cor1);
    font-size: 32px;
    letter-spacing: 5px;
}
.section-title hr {  
    margin: auto;
    border: 0px;
    border-bottom: 4px solid #168d779d;
    border-radius: 5px;
    max-width: 60px;
}
.section-title p {
    padding-top: 10px;
}
/* Contender serviços*/
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 1170px;
    margin: auto;   
}
/*imagens dentro*/
.item {
    max-width: 200px;
}
.item h3 {
    text-align: center;

}
.item p {
    text-align: center;
}
.item img {
    padding-left: 30px;
}

/* BLOCO 3 */

/*fundo*/
.section-3 {
    background-color: var(--cor3);
    color: rgba(34, 33, 33, 0.822);
    height: 160vh;
    width: 100%;
     
}
/* Texto em cima*/
.section-title-3 {
    padding: 100px 0px 50px 0px;
    text-align: center;
    max-width: 1170px;
    margin: auto;  
}
.section-title-3 h3 {
    padding: 20px 0px 10px 0px;
    background-color: var(--cor3);
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
}
.section-title-3 hr {  
    margin: auto;
    border: 0px;
    border-bottom: 4px solid rgba(34, 33, 33, 0.438);
    border-radius: 5px;
    max-width: 60px;
}
.section-title-3 p {
    padding-top: 10px;
    padding-bottom: 50px;
}
/* Contender */
.flex-container-3 {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 1170px;
    margin: auto;   
}

/*Circulos dentro*/

 .circle {
    background-color: gray;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
 }
.green-title { 
    text-align: center;
    color: var(--cor1);
    margin: 10px 0px;
}
.social-midia{
    display: flex;
    justify-content: center;
    margin: 10px -20px;
    padding: 0px;
}
.social-midia img {
    padding: 0px;
}
/*BLOCO 4*/

.section-4 {
    background-color: white;
    height: 120vh;
    color: rgba(34, 33, 33, 0.849);
    width: 100%;

    
}

.flex-container-4 { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1170px;
    margin: auto;
    padding-top: 50px;
}
.flex-container-4 h3 { 
    text-align: center;
    padding-top: 20px;
    

}
.section-title-4 hr{ 
    margin: auto;
    border: 0px;
    border-bottom: 4px solid rgba(34, 33, 33, 0.603);
    border-radius: 5px;
    max-width: 60px;

}
.section-title-4 h3 {
    font-size: 32px;
    text-align: center;
    padding: 100px 0px 20px 0px;
    letter-spacing: 3px;
    
}
.section-title-4 p {
    text-align: center;
    padding: 20px 0px 50px 0px;
    
}
/*BLOCO 5*/
/*fundo */
.section-5 {
    background-color: var(--cor4);
    min-height: 130vh;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
}
/*texto*/
.section-title-5 {
    padding: 50px;
    text-align: center;
    
}
.section-title-5 h3 { 
    font-size: 32px;
    letter-spacing: 3px;
    padding-bottom: 10px;

}
.section-title-5 p {
    padding-top: 10px;
}
.section-title-5 hr {
    margin: auto;
    border: 0px;
    border-bottom: 4px solid #ddbf82d0;
    border-radius: 5px;
    max-width: 60px;
    
}
/*menu*/
.menu-portifolio {
    flex-flow: row nowrap;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
}  

.menu-portifolio li {
    background-color: #ddbf82d0;
    margin: 3px;
    padding: 3px 15px;
    border-radius: 3px;
    
}
.menu-portifolio li:hover {
    background-color: white;
}
/*BOXES */
.flex-container-5 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;   
   max-width: 1170px;
   margin: auto;
   
}    
    
.flex-container-5 .item{
    max-width: 500px; 
    
    
}
.flex-container-5 .item img{ 
    width: 100%;
    
}

.flex-container-5 div p {    
    text-align: center;
    padding-left: 10px;
    margin-left: 40px;
}
.project-button {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    margin-left: 20px;
}
.projects {
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 600;    
    border-radius: 3px;
    padding: 15px 50px;
    max-width: 150px;
    background-color: #16c4a4;
    box-shadow: 0 4px 0 0 #138a74;
}
/*BLOCO 6*/
.section-6 {
    height: 150vh;
    background-color: var(--cor7);
    color: white;
}

/* Texto em cima*/
.section-title-6 {
    padding: 100px 0px 50px 0px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
    
}
.section-title-6 h3 {
    padding: 20px 0px 10px 0px;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
}
.section-title-6 hr {  
    margin: auto;
    border: 0px;
    border-bottom: 4px solid #8f2e5593;
    border-radius: 5px;
    max-width: 60px;
}
.section-title-6 p {
    padding-top: 10px;
}
/* BOXES */ 
.flex-container-6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
}

.text-6{ 
    font-style: italic;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 300px;   
    

}
.flex-container-6  .item { 
    max-width: 300px;  
    margin: 0px 20px 20px 30px;
}
.subtitle-6 {
    color: rgb(255, 200, 97);
}

.circle-6{ 
    background-color: gray;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 50px;
}
/*BLOCO 7*/
.section-7 {
    
    background-color: var(--cor5);
    height: 120vh;
    color: white;
}
/* Texto em cima*/
.section-title-7 {
    padding: 100px 0px 50px 0px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
    
}
.section-title-7 h3 {
    padding: 20px 0px 10px 0px;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
}
.section-title-7 hr {  
    margin: auto;
    border: 0px;
    border-bottom: 4px solid #273a729a;
    border-radius: 5px;
    max-width: 60px;
}
.section-title-7 p {
    padding-top: 10px;
}
/*caixa de mensagem*/

.flex-container-7{
    display: flex;
    margin: auto;
    max-width: 60%;
    margin-bottom: 50px;
    justify-content: space-between;
    
    
    
    
}
.section-7 .item {
    background-color: #273A72;
    max-width: 60%;
    margin: auto;
    
    

}
.section-7 .item p {
    text-align: left;

}
.flex-container-7 .item {
    background-color: #273A72;
    border-radius: 2px;
    margin: -2px 10px;
    padding: 10px 150px 10px 20px;
    flex-grow: 1 ;


}
.section-7 .item p {
    text-align: left;
    
}
.item-message{
    background-color: #273A72;
    max-width: 55%;
    margin: auto;
    padding: 20px ;
    margin-bottom: 50px;
    margin-top: -30px;
    height: 200px;

}
.send-message{
    display: flex;
    justify-content: center;
}
.section-7 a {
    
    color: white;
    font-size: 14px;
    font-weight: 600;    
    border-radius: 3px;
    padding: 15px 50px;
    max-width: 150px;
    background-color: #30BAE7;
    box-shadow: 0 4px 0 0 #2494b9;
}
/*Rodapé*/
footer {
    background-color: var(--cor6);
    height: 10vh;
    width: 100%;
}
.footer ul {
     display: flex;
     justify-content:center;
     align-items: center;
     
    
}
.footer li { 
    margin: 20px;
}
.footer a {
    font-family: var(--font-regular);
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    

}
.footer a:hover { 
    color: var(--cor1);
}